celery
numpy==1.24.4
scipy==1.10.1
Django==4.2.14
django-codemirror2==0.2
django-colorfield==0.11.0
django_filter==2.4.0
django_imagekit==5.0.0
django-guardian==2.4.0
django-webpack-loader==3.1.0
djangorestframework-simplejwt==5.3.1
drf_nested_routers==0.94.1
django-cors-headers==4.4.0
drf_yasg==1.21.7
piexif==1.1.3
pyodm==1.5.11
redis==5.0.7
requests==2.32.3
tzlocal==1.3
morecantile==5.3.0
rio_tiler==6.6.1
rio_cogeo==5.3.3
https://files.pythonhosted.org/packages/d3/d1/aeb8c5c905932e74b3989bb1a7146acd93062b0bb45e2673793d520855aa/rasterio-1.3.10-cp39-cp39-manylinux2014_x86_64.whl ; sys_platform == 'linux'
https://files.pythonhosted.org/packages/22/d9/b0830c11f8e34ebe7d61baebe5f6e051e2063e559dc502935d60cb2c0308/rasterio-1.3.10-cp39-cp39-macosx_11_0_arm64.whl ; sys_platform == 'darwin'
https://files.pythonhosted.org/packages/c6/1e/17e0568de9cf83b1eea9b241883c536f1a7e4fe6ab1a3f07520be730d3eb/rasterio-1.3.10-cp39-cp39-win_amd64.whl ; sys_platform == "win32"
urllib3==1.26.19
psycopg2==2.9.9
GDAL==3.8.5 ; sys_platform == 'linux'

https://github.com/OpenDroneMap/WebODM/releases/download/v1.9.7/GDAL-3.3.3-cp39-cp39-win_amd64.whl ; sys_platform == "win32"
pyproj==3.5.0
